.checks-container {
    display: flex;
    flex-direction: column;
}

.visible{
    display: flex;
}

.hidden{
    display: none;
}

.accordions{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.non-dropdown-filters-container {
    width: 100%;
    display: flex;
}

.animal-lists-container {
    margin-bottom: 1vw;
    margin-left: 1vw;
    font-family: 'Old Standard TT', serif;
    font-weight: 600;
    color: rgb(58, 58, 34);
}

.animal-lists-container p {
    font-size: 1vw;
    text-shadow: 0 0.4vw 0.4vw rgb(52, 49, 35);
    font-style: italic;
}

