main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
}

.catalogue-number {
    width: 5vw;
    height: 1.5vw;
    margin: 0.3vw;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.2vw;
    font-size: 0.8vw;
    font-family: 'EB Garamond', serif;
    font-weight: 600;
    transition: all 300ms ease-in-out;
}

.owned {
    background-image: url(/src/assets/ID-background-owned.png);
    background-size: cover;
    background-position: center;
}

.owned:hover {
    transform: scale(105%);
}

.not-owned {
    background-image: url(/src/assets/ID-background-not-owned.png);
    background-size: cover;
    background-position: center;
}

.not-owned:hover {
    transform: scale(105%);
}

.petshop-info {
    height: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.petshop-info span {
    margin-left: 10px;
}

.petshop-image {
    max-height: 15vw;
    height: 15vw;
    max-width: 15vw;
    width: 15vw;
    background-image: url(/src/assets/Portrait.png);
    background-size: contain;
    padding: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.petshop-image img {
    height: 68%;
    width: 68%;
    margin-right: 10px;
}

#selected-pet {
    font-size: large;
    margin-bottom: 10px;
}

.owned.selected {
    filter: contrast(200%);
}

.not-owned.selected {
    filter: contrast(200%);
    color: white;
}

.no-image {
    background-color: red;
}