.album-aside {
    z-index: 2;
    background-image: url("../assets/Filters.png");
    background-size: cover;
    width: 20%;
    height: 52vw;
    position: sticky;
    top: 0;
    overflow: hidden;
    padding: 2vw;
  }

  .name-filter {
    display: flex;
    background-color: red;
  }

  .clothes-container {
    display: flex;
  }