aside {
    z-index: 2;
    background-image: url("../assets/Filters.png");
    background-size: cover;
    width: 20%;
    height: 52vw;
    position: sticky;
    top: 0;
    overflow: hidden;
    padding: 2vw;
}

.selected-petshop-info {
    display: flex;
    flex-direction: column;
    font-family: 'Old Standard TT', serif;
    font-weight: 600;
    font-size: 1vw;
    color: rgb(51, 46, 24);
}

.petshop-image {
    background-repeat: no-repeat;
    background-position: center;
    height: 15vw;
    width: 14vw;
}

