.gender-filter-container {
  display: flex !important;
  flex-direction: row !important;
  margin-left: 1vw;
  margin-bottom: 1vw;
}

.gender-filter-container div {
  display: flex;
  align-items: center;
}

.female-container,
.male-container {
  width: 3vw;
  height: 1.6vw;
}

.gender-filter-container .female,
.gender-filter-container .male {
  width: 1.4vw;
  height: 1.4vw;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.gender-filter-container .female {
  background-image: url('../assets/icons/F-gem.png');
}

.gender-filter-container .male {
  background-image: url('../assets/icons/M-gem.png');
}