#guessing-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#guessing-image {
    height: 24vw;
    width: 24vw;
    background-image: url(/src/assets/Portrait.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#guessing-image img {
    height: 55%;
    width: 55%;
}

.answer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#answer-container div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: 3.2vw;
    background-image: url(/src/assets/Answer.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0.3vw 0;
    cursor: pointer;
    font-family: 'Pinyon Script', cursive;
    font-size: 1.2vw;
    color: rgb(29, 31, 8);
    font-weight: 600;
    text-shadow: 0 0.4vw 0.4vw black;
}
