#guessing-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#guessing-image {
    height: 26vw;
    width: 26vw;
    background-image: url(/src/assets/Portrait.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#guessing-image img {
    height: 55%;
    width: 55%;
}

.answer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#answer-container div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23vw;
    height: 4vw;
    background-image: url(/src/assets/Answer.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0.3vw 0;
    font-family: 'Pinyon Script', cursive;
    font-size: 1.4vw;
    color: rgb(43, 40, 11);
    font-weight: 600;
    text-shadow: 0 0.2vw 0.4vw rgb(255, 255, 255);
    transition: all 300ms ease-in-out;
}

#answer-container div:hover {
    cursor: pointer;
    transform: scale(105%);
    filter: contrast(180%);
}

.correct-answer{
    background-color: green;
}

.cheats{
    width: 3vw;
    height: 2vw;
    position: absolute;
    left: 30%;
}

.finish-container {
    width: 50vw;
    height: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.finish-container img {
    width: 50vw;
}

.progress-count {
    background-image: url(../assets/Progress.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 6vw;
    width: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.1vw;
    filter: contrast(160%);
    position: absolute;
    top: 27vw;
    font-family: 'Pinyon Script', cursive;
    font-size: 1vw;
    color: rgb(201, 200, 191);
    font-weight: 600;
    text-shadow: 0 0.2vw 0.4vw rgb(63, 59, 59);
}