nav {
    background-image: url("../assets/Nav.png");
    background-size: 100% 160%;
    background-position-y: 80%;
    overflow: visible;
    height: 15vh;
    width: 100%;
    z-index: 3;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.8vw;
}

/* START FILTERS */
.filter-container {
    width: 45%;
    height: 60%;
    margin: 0vw 2.5vw;
    background-color: red;
}

/* END FILTERS */

/* START LINKS */
nav ul {
    height: 60%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Old Standard TT', serif;
    font-size: 1.3vw;
    list-style: none;
    padding: 0;
    /* background-color: violet; */
}

nav ul li span {
    color: rgb(124, 120, 101);
}

.link {
    transition: all 300ms ease-in-out;
    font-style: italic;
    font-weight: bold;
}

.link:hover {
    transform: scale(105%);
    color: rgb(61, 59, 51);
}
/* END LINKS */

/* START STATS */
.stats-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 23%;
    height: 60%;
    /* background-color: aquamarine; */
}

.owned-container,
.named-container,
.gender-container,
.bloodlines-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26%;
    height: 100%;
}

.stat-owned,
.stat-not-owned,
.stat-named,
.stat-not-named,
.stat-girls,
.stat-boys,
.stat-porveldam,
.stat-spadelline,
.stat-zephiroth,
.stat-gladasmy,
.stat-illwhyrim,
.stat-filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    height: 100%;
}

/* STAT IMG */
.stat-owned div,
.stat-not-owned div,
.stat-named div,
.stat-not-named div,
.stat-girls div,
.stat-boys div,
.stat-porveldam div,
.stat-spadelline div,
.stat-zephiroth div,
.stat-gladasmy div,
.stat-illwhyrim div,
.stat-filter div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 60%;
}

/* stat N° */
.stats-container span {
    font-size: 1vw;
    font-family: 'EB Garamond', serif;
    color: rgb(70, 70, 70);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35%;
    font-weight: bold;
    letter-spacing: 0.05vw;
}

.stat-owned div {
    background-image: url("../assets/Obtained.png");
}

.stat-not-owned div {
    background-image: url("../assets/NotObtained.png");
}

.stat-named div {
    background-image: url("../assets/Named.png");
}

.stat-not-named div {
    background-image: url("../assets/NotNamed.png");
}

.stat-girls div {
    background-image: url("../assets/Feminin.png");
    width: 70%;
}

.stat-boys div {
    background-image: url("../assets/Masculin.png");
    width: 60%;
}

/* 
.stat-porveldam div {
    background-image: url("../assets/Porveldam.png");
    width: 2.5vw;
    background-size: 50%;
}

.stat-spadelline div {
    background-image: url("../assets/Spadelline.png");
    width: 2.5vw;
    background-size: 50%;
}

.stat-zephiroth div {
    background-image: url("../assets/Zephiroth.png");
    width: 2.5vw;
    background-size: 70%;
}

.stat-gladasmy div {
    background-image: url("../assets/Gladasmy.png");
    width: 2.5vw;
    background-size: 38%;
}

.stat-illwhyrim div {
    background-image: url("../assets/Illwhyrim.png");
    width: 2.5vw;
    background-size: 70%;
} */
/* END STAT */